body {
font-family: Arial;
margin: 0;
background: #f5f5f5;
}

/* HEADER */
header {
background: black;
color: white;
text-align: center;
padding: 15px;
}

.logo {
height: 40px;
}

.tagline {
font-size: 14px;
color: #ccc;
}

/* LAYOUT */
.container {
display: flex;
gap: 20px;
padding: 20px;
}

/* PREVIEW */
.preview-section {
flex: 1;
display: flex;
justify-content: center;
}

.wall {
background: url('images/wall.jpg') center/cover no-repeat;
padding: 60px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
}

/* FRAME CONTAINER */
.frame-container {
position: relative;
width: 350px;
height: 350px;
display: flex;
justify-content: center;
align-items: center;
background: #ddd;
}

/* USER PHOTO */
.photo {
width: 85%;
height: 85%;
object-fit: cover;
z-index: 1;
}

/* MOUNT */
#mountLayer {
position: absolute;
width: 90%;
height: 90%;
background: white;
z-index: 2;
display: none;
}

/* FRAME */
#frameLayer {
position: absolute;
width: 100%;
height: 100%;
border: 25px solid black;
z-index: 3;
box-sizing: border-box;
}
/* FRAME TYPES */
.frame-gold { border-color: gold; }
.frame-black { border-color: black; }
.frame-wood { border-color: #5c3a21; }
.frame-brown { border-color: brown; }
.frame-temple { border: 25px solid goldenrod; }
.frame-vintage { border: 22px solid #c9a45c; }

/* CONTROLS */
.controls {
flex: 1;
background: white;
padding: 20px;
border-radius: 10px;
}

.frames img {
width: 70px;
margin: 5px;
cursor: pointer;
border: 2px solid transparent;
}

.frames img:hover {
border: 2px solid black;
}

input, select, textarea {
width: 100%;
margin-top: 8px;
margin-bottom: 10px;
padding: 8px;
}

button {
width: 100%;
padding: 12px;
background: black;
color: white;
border: none;
cursor: pointer;
font-size: 16px;
}
/* FRAME IMAGE OVERLAY */
.frame-img {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
z-index: 4;
pointer-events: none;
}
